@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}

body {
  font-family: 'Open Sans';
  background: #eceece;
}

h1 {
  font-family: 'Open Sans';
  letter-spacing: 3px;
}

button:focus {
  outline:0 !important;
}